*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

/* 1. O método moderno para Firefox e o futuro */
body {
  background-color: transparent !important; 
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

/*
:root{
    --primary-color: #7d1479;
    --secondary-color: #9747ff;
    --text-color: #fff;
    --text-color2: #000;
    --bg-color: #111;
    --bg-color2: #222;
    --bg-color3: #333;
    --bg-color4: #444;
    --bg-color5: #555;
}

body{
    background-color: var(--primary-color);
}*/